/*


1.导航
2.表格
3.单元格


*/
td{
    align-content: center;
}
body{
    background: #ffffff;
    font-size: 15px;
    line-height: 50px;
}

div.nav{
    width: 100%;
    border-bottom: 1px #000000 solid;
    height: 40px;
}

div.pro {
    width: 75%;
    border-bottom: #aaaaaa;
    margin: 0 auto;
    height: 40px;
}

a {
    /*去除下划线*/
    text-decoration: none;
}

a:hover{
    /*鼠标放在上面的显示*/
    /*background: red;*/
    color: red;
}

a:visited{
    color: black;
}

.left{
    float: left;
}

.right{
    float:right;
}


table{
    border: #11141b 1px solid;
}

