
div.fond{
    background-color: #333333;
    width: 840px;
    height: 550px;
}

div.dark{
    background-color: #11141b;
}
div.boldWhite{
    font:"宋体";
    color: #f4f4f4;
    text-align: center;
    font-size: 15px;
    margin: 10px;
    margin-top: 15px;
}
div.white{
    font: "宋体";
    color: #f4f4f4;
    margin-top: 5px;
    margin-bottom: 5px;
}
.floatleft{
    float: left;
}
.floatright{
    float: right;
}
span.option{
    margin-right:15px;
    font-size: 10px;
}
div.glod1{
    color: #ff9100;
    text-align: left;
    font-size: 10px;
    font-style: bold;
}
div.glod{
    color: #ff9100;
    text-align: center;
    font-size: 10px;
}
img{
    width: 60px;
    height: 60px;
    border: solid thin #666666;
}
